@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-display: "Hanken Grotesk", "sans-serif";
  --color-primary: #5300b7;
  --color-primary-container: #6d28d9;
}

/* Custom material symbols settings matching the screenshots */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Scrollbar hiding utilities */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
